<form action="/users/<%= @user.id %>/stories" method="post">
  <input type="text" name="title" placeholder="Title">
  <input type="hidden" name="user_id" value="<%= @user.id %>">
  <input type="submit" value="Create New Story">
</form>
