Log in:
<br>
<form action="/users/?login path?">
  <p><input type="text" name="email" placeholder="Email">
  <p><input type="password" name="password" placeholder="Password">
  <input type="submit" value="Not a valid route yet!">
</form>

<br>
<form action="/users/new">
  <br><input type="submit" value="New User">
</form>
