<form action="/users/create" method="post">
  <input type="text" name="email" placeholder="Email?">
  <input type="password" name="password" placeholder="Password?">
  <input type="sumbit" value="Create New User">
</form>
